<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/app-layout/app-scrollpos-control/app-scrollpos-control.html">

<link rel="import" href="./../main-content/main-content.html">
<link rel="import" href="./../ws-connection/ws-connection.html">

<dom-module id="main-app">

    <template>

        <style>
            paper-item {
                @apply(--layout-center-center);
                height: 54px;
            }

            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
        </style>


        <app-drawer-layout responsive-width="1280px" forceNarrow>

            <!-- nav panel -->
            <app-drawer id="drawer" swipe-open>
                <app-header-layout has-scrolling-region>

                    <ws-connection status={{connectionStatus}}></ws-connection>

                </app-header-layout>
            </app-drawer>

            <app-scrollpos-control></app-scrollpos-control>

            <!-- list/detail pages -->
            <iron-pages selected>

                <main-content>
                    <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>

                </main-content>

            </iron-pages>

        </app-drawer-layout>

    </template>

    <script src="./../../js/Connection.js"></script>
    <script>
        Polymer({

            is: 'main-app',

            mounted: false,
            properties: {
                connectionStatus: {
                    type: String,
                    notify: "testing"
                }
            },
            ready: function() {

            },


        });
    </script>

</dom-module>
