<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<dom-module id="connection-details">
    <template>
        <style>
            :host {
                display: inline-block;
                text-align: left;
                width: 100%;
            }

            paper-icon-button {
                display: inline-block;
                color: black;
            }
        </style>
        <h3 on-click="toggle"><paper-icon-button icon="icons:build"></paper-icon-button>Connection details</h3>

        <iron-collapse>
            <div class="collapse-content">
                <paper-input label="Server" always-float-label value="{{server}}"></paper-input>
                <paper-input label="port" always-float-label value="{{port}}"></paper-input>
            </div>
        </iron-collapse>
        </div>
    </template>

    <script>
        Polymer({

            is: "connection-details",
            properties: {
                server: {
                    type: String,
                    notify: true
                },
                port: {
                    type: String,
                    notify: true
                }
            },
            toggle: function() {
                this.querySelector("iron-collapse").toggle()
            }
        });
    </script>
</dom-module>
