<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">

<dom-module id="connection-status">
    <template>
        <style>
            .connection-info {
                margin: 20px 20px 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid #CCC;
                text-align: center;
            }

            .connection-info .name {
                font-size: 20px;
                font-weight: bold;
            }

            .connection-info .status {
                color: #999;
            }

            .connection-info .success,
            .connected {
                color: #388E3C;
            }

            .connection-info .error,
            .disconnected {
                color: #D32F2F;
            }

            paper-icon-button {
                display: inline-block;
            }
        </style>
        <app-header fixed>
            <div class="connection-info">
                <div class="name">Status</div>
                <p>
                    [[formatStatus()]]
                </p>
                <div class$="[[status]]">
                    {{formatStatus(status)}}
                </div>
            </div>
        </app-header>
    </template>

    <script>
        Polymer({

            is: "connection-status",

            properties: {
                status: {
                    type: String,
                    value: "connecting",
                }
            },
            formatStatus: function(status) {
                if (status) {
                    return status.charAt(0).toUpperCase() + status.slice(1);
                }
            }

        });
    </script>
</dom-module>
