<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="./../connection-details/connection-details.html">
<link rel="import" href="./../connection-status/connection-status.html">
<dom-module id="ws-connection">
    <template>
        <style>
            :host {
                display: inline-block;
            }

            .container {
                margin: 0 20px;
                text-align: center;
                width: 100%
            }

            .collapse-content {
                padding: 15px;
                border: 1px solid #dedede;
            }
        </style>
        <connection-status status="{{status}}" isConnected="{{isConnected}}" on-click="toggleConnection"></connection-status>
        <div class="container">

            <connection-details server="{{server}}" port="{{port}}">
            </connection-details>
        </div>
    </template>

    <script>
        Polymer({

            is: "ws-connection",
            statuses: ["connected", "disconnected", "error", "connecting"],
            connection: false,
            output: false,
            properties: {
                status: {
                    type: String,
                    notify: true,
                    value: ""
                },
                isConnected: {
                    type: Boolean,
                    notify: true,
                    value: !!this.connection
                },
                server: {
                    type: String,
                    notify: true,
                    value: "localhost",
                    observer: '_disconnect'
                },
                port: {
                    type: Number,
                    notify: true,
                    value: 8001,
                    observer: '_disconnect'
                },
                data: {
                    type: Object,
                    notify: true
                }
            },
            _disconnect: function(newVal, oldVal) {
                if (oldVal) {
                    if (this.connection) {

                        this.connection.close();
                    }
                }
            },
            toggleConnection: function() {
                if (this.isConnected) {
                    this.connection.close();
                    return;
                }
                this.connect();
            },
            ready: function() {
                this.status = this.statuses[1];
                //this.connect();
            },

            connect: function() {
                this.status = this.statuses[3];
                this.establishConnection();
                this.bindConnectionEvents();
            },
            send: function(msg) {
                if (typeof msg === "object") {
                    msg = JSON.stringify(msg);
                }
                console.log(msg);
                this.connection.send(msg);
            },
            establishConnection: function() {
                try {
                    this.connection = new WebSocket(this.getConnectionString());
                } catch (exc) {
                    this.status = this.statuses[2];
                }
            },
            bindConnectionEvents: function() {
                this.connection.onclose = function() {
                    this.connection = false;
                    this.isConnected = false;
                    if (this.status !== this.statuses[2]) {
                        this.status = this.statuses[1];
                    }
                }.bind(this);
                this.connection.onopen = function() {
                    this.isConnected = true;
                    this.status = this.statuses[0];
                }.bind(this);
                this.connection.onerror = function() {
                    this.isConnected = false;
                    this.status = this.statuses[2];
                }.bind(this);
                this.connection.onmessage = this.newMessage.bind(this);
            },

            newMessage: function(payload) {
                var data;
                if (typeof payload.data === "string") {
                    data = JSON.parse(payload.data);
                }
                this.data = data;

            },
            getConnectionString: function() {
                return "ws://" + this.server + ":" + this.port;
            }
        });
    </script>
</dom-module>
