<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="request-dialog">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <paper-dialog exit-animation="scale-down-animation" entry-animation="scale-up-animation" id="dialog">
            <h2>Please select a URL</h2>
            <form on-submit="formSubmit">


                <paper-input label="Url" value="{{url}}" required auto-validate pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" error-message="Please provide a valid url" on-submit="formSubmit"></paper-input>

                <div class="buttons">
                    <paper-button dialog-dismiss>Cancel</paper-button>
                    <paper-button on-click="formSubmit">Generate Screenshots</paper-button>
                </div>
            </form>
        </paper-dialog>
    </template>

    <script>
        Polymer({

            is: "request-dialog",
            connection: false,
            properties: {
                url: {
                    type: String,
                    value: "https://google.co.uk"
                }
            },
            listeners: {
                toggleModal: "toggleModal"
            },
            getConnectionElement: function() {
                this.connection = document.querySelector('ws-connection');
            },
            toggleModal: function(e) {
                this.$.dialog.toggle();
            },
            formSubmit: function(e) {
                if (e) {
                    e.preventDefault();
                }
                if (!this.validate()) {
                    return;
                }
                this.broadCastCreationIntent();
                this.toggleModal();
            },
            validate: function() {
                return Polymer.dom(this).node.querySelector("paper-input").validate();
            },
            broadCastCreationIntent: function() {
                if (!this.connection) {
                    this.getConnectionElement();
                }
                try {
                    this.connection.fire("creationIntent", {
                        data: {
                            url: this.url
                        }
                    });
                } catch (exc) {
                    console.warn(exc);
                }
            }


        });
    </script>
</dom-module>
